body.app {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body.app .fixed > div {
  position: fixed; 
  right: 0;
  left: 0;
}

body.app .fixed > div:not(.footer) {
  padding: 12px 14px; /* Semantic grid has a -1rem margin on all sides. The vertical rhythm has been dropped 12px. */

}

body.app .header {
  z-index: 20;
}

body.app .body {
  overflow: auto;
}

body.app .footer {
  bottom: 0;
  cursor: pointer;
}

body.app .month-year-display {
  cursor: pointer;
}

body.app .align-center {
  text-align: center;
}

body.app .align-right {
  text-align: right;
}

body.app .inline-block {
  display: inline-block;
}

body.app .react-date-picker__month-view--theme-default {
  border-color: lightgray;
}

/* hide week of year number column*/
body.app .react-date-picker__month-view-cell.react-date-picker__month-view-week-day-name.dp-week-day-name:first-child,
body.app .react-date-picker__month-view-cell.react-date-picker__month-view-week-number.dp-cell.dp-weeknumber {
  display: none;
}

/* get rid of red colors*/
body.app .react-date-picker__month-view-day--prev-month.react-date-picker__month-view-day--weekend.react-date-picker__month-view-day--weekend-highlight,
body.app .react-date-picker__month-view-day--next-month.react-date-picker__month-view-day--weekend.react-date-picker__month-view-day--weekend-highlight {
  color: lightgray;
}

/*weekends with gray backgrounds and square borders*/
body.app .react-date-picker__month-view-day--weekend {
  background-color: #F5F5F5;
  border-radius: 0;
  color: black;
}


/*Selected day with blue circle border*/
body.app .react-date-picker__month-view-day--active, 
body.app .react-date-picker__month-view-day--active:after {
  border-radius: 50%;
  border-color: #4A85E8;  
  border: 2px solid #4A85E8;
  background-color: #4A85E8;
  color: white;
  position: relative;
}

body.app .react-date-picker__month-view-day--active:after {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  content: '';
  position: absolute;
  top: 44px;
  left: 16px;
}