﻿/*----------Menu (.menu is reserved in Semantic)----------*/

body.app .comp.my-menu {
  background-color: #F5F5F5;
}

body.app .comp.my-menu i.icon {
  color: blue;
  cursor: pointer;
}

/*----------Entry Date----------*/

body.app .comp.entry-date .date-row, 
body.app .comp.entry-date.end-cap {
  background-color: #F5F5F5;
  color: #96999D;

  -webkit-box-shadow: 0px -1px 0px 0px #DEE0E2,  0px 1px 0px 0px #DEE0E2;
  -moz-box-shadow: 0px -1px 0px 0px #DEE0E2, 0px 1px 0px 0px #DEE0E2;
  box-shadow: 0px -1px 0px 0px #DEE0E2, 0px 1px 0px 0px #DEE0E2;
}

/*----------List View----------*/





/*----------Booking Item----------*/

body.app .comp.booking-item:not(:last-child) {
  -webkit-box-shadow: 0px 1px 0px 0px #E2E4E5;
  -moz-box-shadow: 0px 1px 0px 0px #E2E4E5;
  box-shadow: 0px 1px 0px 0px #E2E4E5;

  padding-bottom: 1rem;
}

.comp.booking-item i.checked.calendar.icon {
  color: green;
}

/*----------Button----------*/

body.app .button.now {
  background-color: #F5F5F5;
  color: #004CFC;
  text-align: center;
  font-weight: bold;
  display: block;
  padding: 12px;
  -webkit-box-shadow: 0px -1px 0px 0px #DEE0E2;
  -moz-box-shadow: 0px -1px 0px 0px #DEE0E2;
  box-shadow: 0px -1px 0px 0px #DEE0E2;
  cursor: pointer;
}

body.app .button.now:active {
  background-color: #DEDEDE;
}

/*----------Button----------*/

body.app .comp.search a:hover {
  text-decoration: underline;
  cursor: pointer;
}